$blue: #0000a2;
$grey: #bbc3c4;
$black: #0c0c0c;
$darkgrey: #808088;
$red: #fb0006;

@function dualshadow($color1, $color2) {
  @return inset 1px 1px 0px $color1, inset -1px -1px 0px $color2,
    inset 2px 2px 0px $color1, inset -2px -2px 0px $color2;
}

@function dualshadowReverse($color1, $color2) {
  @return inset -1px -1px 0px $color1, inset 1px 1px 0px $color2,
    inset -2px -2px 0px $color1, inset 2px 2px 0px $color2;
}

.cell {
  background-color: $grey;
  height: 16px;
  width: 16px;
  box-shadow: dualshadowReverse($darkgrey, white);
  border: none;
  outline: none;
  padding: 0px; // iOS button bug

  &.clicked,
  &:hover:active,
  &:hover:focus,
  :active &:hover,
  :focus &:hover {
    background-color: $grey;
    box-shadow: inset 0.5px 0.5px 0px $darkgrey,
      inset -0.5px -0.5px 0px $darkgrey;
    position: relative;
    display: inline-flex;
    align-content: center;
    text-align: center;
  }
}

.clicked,
.win .cell,
.lose .cell {
  background-color: $grey;
  box-shadow: inset 0.5px 0.5px 0px $darkgrey, inset -0.5px -0.5px 0px $darkgrey;
  position: relative;
  display: inline-flex;
  align-content: center;
  text-align: center;
  &:after {
    width: 100%;
    align-self: center;
    content: attr(data-warningcount);
    font-weight: bold;
    margin-top: 2px;
    margin-left: 1px;
  }
}
.end {
  &:after {
    content: '';
  }
  background-color: $red;
}

.board {
  box-shadow: dualshadowReverse(white, $darkgrey), inset -3px -3px 0px white,
    inset 3px 3px 0px $darkgrey;
  padding: 3px;
}
.grid {
  display: grid;
  grid-gap: 0px;
  color: #444;
}
.minesweeper {
  display: inline-block;
  padding: 6px 4px 4px 6px;
  box-shadow: inset 2px 2px 0px white;
}
.counter {
  display: inline-flex;
  padding: 1px;
  box-shadow: inset 1px 1px 0px $darkgrey, inset -1px -1px 0px white;
}
.status {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 6px;
  box-shadow: dualshadow($darkgrey, white);
  padding: 6px 4px;

  > * {
    margin: 0px 4px;
  }
  button {
    height: 24px;
    width: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAVElEQVR42mNgwA3+Y8FEA7CG//8xMbGGYdWMwzDyDcBnEEkG4DIIq9+JFMPuCmINQTaILK8MEUMIGUp04OJLsURHMVoSJxgzVE2xVMs7VMvFZJUnADl0GwKMOgB1AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -1px -1px 0px $darkgrey, dualshadow(white, $darkgrey);
    background-color: $grey;
    outline: none;
    border: none;

    .minesweeper:active & {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAbklEQVR42rWUgQ7AEAxEfbo/77ItXcTuziEkjWj14ahSeAtgdnsSIv7mwmAyga0DFOgL1vpOuPs2Cfl7EDo30wNChisqf4KmtGDanIUwfWxIapATey2G4mZQjeUVz+xEPjhHk+2nbxXhbhUv/ScXq9MFJP/q1DsAAAAASUVORK5CYII=);
    }
    .minesweeper.lose & {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAWklEQVR42mNgwA3+Y8FEA7CG//8xMbGGYdWMwzDyDcBnEIokMo1PHN0grBqw2Y7LNQRtJCROcljgCptBbgi2FEsoqimOHazpBJ/ziUpwdEn6RGVCSnMxWeUJAHw0FwbXaXdOAAAAAElFTkSuQmCC);
    }
    .minesweeper.win & {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAZ0lEQVR42q2U0Q4AEAhF+28fn/FgmXuT0taD7B5SEeGmwMM2BaqnR2FQTGB5gAd6AjAQyps6grgAL25Ba4EEXmyDWHJr52kWNPZRyVOPCtOpQgRdnQlCJb5V6mvDlVs/NITVKU79Jx0lUucVtHPCpwAAAABJRU5ErkJggg==);
    }
  }
}
.buttonBorder {
  box-shadow: 1px 1px 0px;
}
